body{
	/*padding: 0px 10px 130px 10px; /*Top - Right - Bottom - Left*/
	background-color: #FFF;
	font-family: calibri, arial, sans-serif;
	font-size: 16px;
}

h1{
	color: black;
	margin-top: 5%;
	margin-bottom: 5%
}

form{
	padding: 5% 0%;
}

.container{
	width: 1220px;
	margin-left: 20%;
}

.houseSorting{
	float: left;
	width: 20%

}

.gridArea{
	float: right;
	width: 70%
}

.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}








