body{
	background-color: #FFF;
	font-family: calibri, arial, sans-serif;
	font-size: 22px;
	background: rgb(38, 38, 38);
}

@font-face {
    font-family: hpMadness;
    src: url(/font/HARRYP__.TTF);
}

h1{
	background: rgb(38, 38, 38);
	margin-top: 3.5%;
	margin-bottom: 3.5%;
	color: rgb(235, 163, 12);
	font-family: hpMadness;
	font-size: 70px;
	text-align: center;
}

img{
	height: 90px;
    width: 100%;
}

.container{
	width: 1220px;
	margin-left: 20%;
	color: white;
}

.houseSorting{
	float: left;
	width: 20%;
	color: white;
}

.wrapper {
    width: 330px;
    margin:0 auto;
    /*float: right;*/
}
.gameboard {
    width: 330px;
    height:310px;
    z-index: 1;
}
.gameboard div {
    width: 100px;
    height: 100px;
    float: left;
}
.middle {
    border: 1px solid #9e9898;
}
.button {
    background-color:white;
    width: 160px;
    margin:0 auto;
}
.updown {
    border-top: 1px solid #9e9898;
    border-bottom: 1px solid #9e9898;
}
.leftright {
    border-left: 1px solid #9e9898;
    border-right: 1px solid #9e9898;
}


/*
.gridArea{
	float: right;
	width: 70%;
	color: white;
}

.square{
    width:100px;
    height:100px;
	background: white;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}*/








